*{
    /* border: 3px solid grey; */
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aquamarine;
    min-height: 100vh;
}

.flex{
    display: flex;
    justify-content: center;
}


.container{
    gap: 30px;
}

.container{
    flex-flow: column;
}

.table, th{
    border: 3px solid black;
}

td{
    border-bottom: 3px solid black;
}

td{
    border-right: 20px solid rgba(0, 0, 0, 0);
}
/* cool accidental effect im gunna keep it */

.flex input, #book-create {
    height: fit-content;
    width: fit-content;
}

.book-creator, .book-creator .flex{
align-items: center;
flex-flow: column;
}

.book-creator{
    gap: 30px;
    border: 3px solid black;
    align-self: center;
    padding: 50px;
    background-color: rgb(238, 255, 0);
    z-index: -1;
    opacity: 0;
    position: fixed;
    top: 200px;
}